.flatpickr {
	font-family : 'Roboto', sans-serif;
	font-weight : 400 ;
	font-size   : var(--text-p) ;
	&-calendar{
		padding: 10px var(--padding-form-block) ;
		
		&.noCalendar{
			padding: 0;
		}
	}
	&-time {
		& input {
			font-family : 'Roboto', sans-serif ;
			font-weight : 400 ;
			font-size   : var(--text-p) ;
			line-height : 36px;
		}
	}
	
	&-day {
		font-family : 'Roboto', sans-serif;
		font-weight : 400;
		font-size   : var(--text-p);
		
		&.selected {
			background-color : var(--color-decor);
			border: 1px solid var(--color-decor);
			
			&:hover{
				background-color : var(--color-decor);
				border: 1px solid var(--color-decor);
			}
		}
	}
	&-weekday{
		font-family : 'Roboto', sans-serif;
		font-weight : 400;
		font-size   : 12px;
	}
	
	&-current-month &-monthDropdown-months{
		font-family : 'Roboto', sans-serif;
	}
}
