.row{
  display: flex;
}

.col{
  display: flex;
  flex-direction: column;
}

.p-icon{
  display: flex;
  align-items: center;
}

.img{
  line-height: 0;
  display: inline-block;
  width: 100%;
}

.icon{
  line-height: 0;
  display: inline-block;
  &--left{
    margin-right: var(--margin-Icon);
  }
  &--rht{
    margin-left: var(--margin-Icon);
  }
  & img{
    width: 100%;
  }
}

.accordion_content{
  display: none;
}
