@font-face {
	font-family: 'icomoon';
	src:  url('/fonts/icomoon.eot?xin1f7');
	src:  url('/fonts/icomoon.eot?xin1f7#iefix') format('embedded-opentype'),
	url('/fonts/icomoon.ttf?xin1f7') format('truetype'),
	url('/fonts/icomoon.woff?xin1f7') format('woff'),
	url('/fonts/icomoon.svg?xin1f7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
